.contact__header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
  
    &-text {
      max-width: 475px;
  
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 55px;
        color: #111111;
        margin-top: 0;
      }
  
      p {
        max-width: 440px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #111111;
        mix-blend-mode: normal;
        opacity: 0.8;
      }
    }
  
    form {
      width: 475px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 291px;
      padding-top: 20px;
  
      label {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #111111;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
  
      input {
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
      }
  
      .submit-btn {
        background: #4a4ff2;
        width: 125px;
        height: 50px;
  
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        transition: all ease-in-out 0.1s;
  
        &:hover {
          background-color: rgb(211, 219, 238);
          color: #4a4ff2;
        }
      }
    }
  }
  

.contact__main__content {
    margin-bottom: 99px;
  
    img {
      width: 100%;
    }
  }
  