footer {
  width: 96%;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  margin-top: 108px;

  .footer__logo {
    a {
      text-decoration: none;
    }
  }


  .footer__links {
    display: flex;
    justify-content: space-between;
    width: 378px;


    &-pages {
      display: flex;
      justify-content: space-between;
      width: 40%;

      a {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.346154px;
        color: #111111;
      }
    }

    &-socials {
      display: flex;
      justify-content: space-between;
      width: 25%;

      img {
        height: 15px;
      }
    }
  }
}
